#selected-ques-div {
    position: absolute;
    left: 240px;
    top: 60px;
}

#discussion {
    position: absolute;
    left: 1256px;
    top: 78.5px;
}

#drop-down {
    width: 240px;
    color: white;
}