.welcome-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Space out elements */
    align-items: center; /* Center align items */
    height: 100vh; /* Use full height of the viewport */
    overflow: hidden; /* Prevent overflow of elements */
}

.welcome-container h1 {
    position: absolute;
    top: 0px;
    font-size: 2em;
    color: rgb(242, 209, 146);
}

#points-div {
    position: absolute;
    top: 150px;
    left: 300px;
}

.points {
    color: orange;
    font-weight: 750;
}

#points-redemption-div {
    position: absolute;
    top: 310px;
    left: 300px;
}

#redeem-heading {
    color: rgb(242, 209, 146);
    font-size: 20px;
    margin-bottom: 10px;
}

.redemption-options {
    color: orange;
}

.redemption-options-div {
    margin-bottom: 6px;
}

#roadmap-button {
    position: absolute;
    top: 28px;
    left: 28px;
}

#notes {
    position: absolute;
    bottom: 20px; /* Position from the bottom of the viewport */
    left: 100px;
    background-color: rgba(242, 209, 146, 0.1);
    border: 1px solid orange;
    border-radius: 8px;
    padding: 15px;
    color: rgb(0, 174, 255);
    font-size: 1.1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: auto; 
}

#notes p {
    margin: 5px 0; /* Spacing between the two paragraphs */
}

#logout-button {
    position: absolute;
    top: 80px;
    left: 28px;
}
