.userinput {
  /* color: orange; */
  font-size: 1.2em;
  /* background-color: rgb(243, 221, 182); */
  height: 30px;
  margin-left: 5px;
  /* border: 1px solid rgb(255, 238, 210); */
}

/* .userinput:focus { */
/* border-color: 1px solid orange; Change the border color to orange when the input field is focused */
/* } */

/* .label { */
/* color: rgb(255, 145, 0); */
/* font-size: 1.5em; */
/* } */

.input-field::placeholder {
  font-style: italic;
  border: none;
  border-bottom: 1px solid black;
}

.label-field {
  font-weight: bold;
}

.form {
  padding: 10px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 10px;
}

#button {
  width: 100%;
  background-color: orange;
  font-size: 1.2em;
}

#button:hover {
  background-color: rgb(238, 187, 92);
}

#button-login {
  position: absolute;
  left: 760px;
  top: 480px;
  background-color: orange;
  font-size: 1.2em;
}

#button-login:hover {
  background-color: rgb(238, 187, 92);
}
